{% extends 'base.html' %}

{% load static %}

{% block 'head' %}

    <link rel="stylesheet" href="{% static 'jobs/css/find_jobs.css' %}">

{% endblock %}

{% block 'body' %}
    <div class="container">
    <br>
    <br>
        <div class="row">

            <div class="col-sm">
            <form action="{% url 'find_jobs' %}" method="GET">{% csrf_token %}
                <input type="text" class="form-control" placeholder="Price MIN" name="preco_minimo">
                <br>
                <input type="text" class="form-control" placeholder="Price MAX" name="preco_maximo">
            </div>

            <div class="col-sm">
                <input type="date" class="form-control" name="prazo_minimo">
                <br>
                <input type="date" class="form-control" name="prazo_maximo">
            </div>

            <div class="col-sm">
                <select class="form-control" name="categoria">
                    <option value="D">Design</option>
                    <option value="VE">Video Editor</option>
                </select>
                <br>
                <input type="submit" class="btn btn-success btn-lg" value="Search">
            </form>
            </div>
        </div>

    <br>
    <br>
    <h2 class="titulo">JOB'S OPEN:</h2>
        <div class="row justify-content-around">

            {% for job in jobs %}
                <div class="col-6 row-card">
                    <div class="card-job">
                        <div class="header-job">
                            <h4 class="titulo-job">{{job.title}}</h4>
                        </div>
                        <div class="body-job">
                            <p class="titulo-body">Description:</p>
                            <div style="width: 70%">
                                <p>{{job.description}}</p>
                            </div>

                        <div class="row">
                        <div class="col-4">
                            <p class="titulo-body">Price:</p>
                            <p>{{job.price}}</p>
                        </div>

                        <div class="col-4">
                            <p class="titulo-body">Deadline:</p>
                            <p>{{job.deadline}}</p>
                        </div>

                        <div class="col-4">
                            <p class="titulo-body">Category:</p>
                            <p>{% if job.category == 'D'%}
                            Design
                            {% else %}
                            Video Edit
                            {% endif%}
                            </p>
                        </div>

                    </div>
                <button class="btn btn-success" data-toggle="modal" data-target="#modal-{{job.id}}" >Details</button>
                <br>
                <br>
                </div>
                </div>
                </div>

                <div class="modal fade" id="modal-{{job.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div style="background-color: #333;" class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title job-modal-titulo" id="exampleModalLabel">JOB:</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <h4 class="titulo-job">{{job.title}}</h4>
                                    
                                    <h6 class="titulo-body">Description:</h6>
                
                                    <p>{{job.description}}</p>
                
                                    <div class="row">
                
                                        <div class="col-4">
                
                                            <h6 class="titulo-body">Price:</h6>
                
                                            <p>{{job.price}}</p>
                
                                        </div>
                
                                        <div class="col-4">
                
                                            <h6 class="titulo-body">Deadline:</h6>
                
                                            <p>{{job.deadline}}</p>
                
                                        </div>
                
                                        <div class="col-4">
                
                                            <h6 class="titulo-body">Category:</h6>
                
                                            <p>{{job.category}}</p>
                
                                        </div>
                
                                        
                
                                    </div>
                
                                    <h4 style="display:inline;" class="job-modal-titulo">References:</h4>
                                    <br>
                                    <br>
                                    <div class="row">
                
                                        {% for reference in job.references.all %}
                                        <div class="col-4">
                                            <img src="{{reference}}" width="100%"> 
                                            
                
                                        </div>
                                        {% endfor %}
                
                                        
                
                                    </div>
                                    <br>
                                    <br>
                                    <a href="{% url 'accept_job' job.id %}" class="btn btn-success btn-lg">ACCEPT JOB</a>
                
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
                
            {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}